@font-face {
  font-family: "RockwellRegular";
  src: url("../fonts/RockwellRegular.eot");
  src: url("../fonts/RockwellRegular.eot?#iefix") format("embedded-opentype"),url("../fonts/RockwellRegular.woff") format("woff"),url("../fonts/RockwellRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

.center-block {
  text-align: center;
}

body {
  margin: 0 auto;
  cursor: default;
  width: 100%;
  max-width: 1400px;
}

input {
  outline: 0;
}

.header {
  width: 100%;
  height: 147px;
  background-color: #fff;
  vertical-align: bottom;
  box-sizing: border-box;
}

.header .logo-block {
  text-align: center;
  margin-top: 54px;
}

.header p,
.main-block p {
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.header .main-menu_icon a,
.header p {
  font-family: 'Raleway',sans-serif;
  color: #202242;
}

.header p {
  font-weight: 700;
  text-align: left;
  font-size: 12px;
}

.header .main-menu {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 54px 0 0;
}

.header .main-menu_icon {
  display: inline-block;
  list-style-type: none;
  margin-right: 40px;
}

.header .main-menu_icon a {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
}

.header .main-menu_icon a:hover {
  color: #ffe13e;
  text-decoration: none;
}

.header .border-img {
  margin-top: 0;
  display: inline-block;
}

.col-md-12,
.col-md-6,
.header .right {
  padding: 0;
}

.header .right-block {
  margin-top: 30px;
}

.header .btn {
  background-color: #ffe13e;
  width: 122px;
  height: 41px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  margin-top: 20px;
}

.header .btn a,
.info-block .info-btn a {
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.header .btn a {
  font-family: 'Raleway',sans-serif;
  color: #202242;
  font-size: 14px;
}

.header .btn a:hover {
  text-decoration: none;
}

.header .tel-block {
  border-left: 1px solid #babbc4;
  padding-left: 20px;
  margin-top: 30px;
}

.header .tel-block .tel-num {
  font: 'Lato',sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-top: 28px;
  box-sizing: border-box;
  text-decoration: none;
  color: #202242;
}

.main-wrapper {
  padding: 0;
  margin: 0 auto;
  display: block;
  height: 950px;
  width: 100%;
  max-width: 1400px;
  background: url("../img/main-block.jpg") no-repeat;
}

.main-block {
  box-sizing: border-box;
}

.main-block .title {
  font: 48px/48px "RockwellRegular",sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 230px;
}

.main-block .add {
  text-align: center;
  font: 30px/30px "RockwellRegular",sans-serif;
  color: #fff;
  margin-bottom: 50px;
}

.main-block p {
  font-family: 'Raleway',sans-serif!important;
  color: #2d2d2d;
  font-size: 18px;
  text-align: center;
}

.main-block .mail-form {
  background-color: rgba(255,255,255,.5);
  width: 572px;
  height: 90px;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 18px;
}

.main-block .mail-form .form-block {
  background-color: #fff;
  width: 536px;
  height: 54px;
}

.main-block .mail-form .form-block .name {
  display: inline-block;
  width: 264px;
  vertical-align: top;
  padding-top: 15px;
}

.main-block .mail-form .form-block .name .your-name {
  font-family: 'Raleway',sans-serif;
  color: #2d2d2d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  outline: 0;
  border: 0;
}

.main-block .mail-form .form-block .com {
  display: inline-block;
  background-color: #ffe13e;
  width: 268px;
  height: 54px;
  text-align: left;
  padding: 15px;
}

.main-block .mail-form .form-block .com .check {
  display: inline-block;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #202242;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  padding-right: 20px;
}

.main-block .mail-form .form-block .check-desc {
  font-family: 'Raleway',sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  display: inline-block;
  padding-left: 20px;
}

.info-block {
  height: 653px;
  width: 100%;
  margin-top: -10px;
}

.info-block .info-btn {
  width: 150px;
  height: 56px;
  background-color: transparent;
  border: 3px solid #fff;
  display: block;
  margin: 40px auto 0;
}

.info-block .info-btn a {
  font-size: 18px;
  margin-top: 13px;
}

.info-block .desc,
.info-block .info-btn a,
h3 {
  font-family: 'Raleway',sans-serif;
  color: #fff;
  text-align: center;
}

.info-block .desc {
  width: 440px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.webhost {
  background-color: #202242;
  box-sizing: border-box;
  padding-top: 110px;
}

.domain .domain-img,
.webhost .webhost-img {
  color: #fff;
  width: 168px;
  height: 169px;
  display: block;
  margin: 0 auto;
}

.domain,
.webhost .info-btn:hover {
  background-color: #ffe13e;
}

.domain {
  box-sizing: border-box;
  padding-top: 180px;
}

.domain .domain-img {
  color: #ffe13e;
  width: 295px;
  height: 73px;
}

.domain .info-btn:hover {
  background-color: #202242;
}

.about-wrapper {
  background: url("../img/Features.jpg");
  width: 100%;
  height: 700px;
}

.about,
.about-title {
  font-family: 'Raleway',sans-serif;
  color: #202242;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.about {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 20px;
}

.feature-block {
  text-align: center;
  padding-top: 60px;
}

.feature-block img {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

.feature-block .add {
  text-align: center;
  font: 30px/30px "RockwellRegular",sans-serif;
  color: #ffe13e;
  margin-bottom: 50px;
}

.clients p,
.feature-block .desc {
  font-family: 'Raleway',sans-serif;
  font-size: 14px;
}

.feature-block .desc {
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  color: #202242;
  font-weight: 400;
  width: 240px;
}

.about-text,
.left {
  text-align: left;
  padding-left: 50px;
}

.about-text {
  color: #adadad;
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 380px;
}

.left {
  padding-top: 40px;
}

.companies {
  padding-top: 60px;
  width: 100%;
}

.clients {
  margin-left: 50px;
  margin-top: 100px;
  text-align: left;
  background: url("../img/Group.jpg");
  width: 372px;
  height: 230px;
  padding: 25px;
  margin-bottom: 60px;
}

.clients p {
  width: 330px;
  color: #adadad;
  font-weight: 500;
  font-style: italic;
}

.clients .name,
.clients p,
.plans p {
  line-height: 24px;
  margin: 0;
}

.clients .name {
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  font-style: normal;
  padding-top: 10px;
  color: #adadad;
  font-weight: 700;
}

.plans {
  background-color: #202242;
  width: 100%;
  height: 270px;
  padding-top: 80px;
}

.map p,
.plans .btn-plans a,
.plans p {
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
}

.plans p {
  color: #67687b;
  padding-left: 156px;
  font-weight: 400;
}

.plans h3 {
  margin: 15px;
}

.plans .btn-plans {
  width: 234px;
  height: 87px;
  background-color: #ffe13e;
  border: 3px solid #fff;
}

.map p,
.plans .btn-plans a {
  font-weight: 700;
}

.plans .btn-plans a {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 26px 46px;
  color: #202242;
  line-height: 24px;
}

.plans .btn-plans a:hover {
  background-color: #202242;
  color: #fff;
}

.map {
  background: url("../img/map.jpg");
  width: 100%;
  height: 657px;
}

.map img {
  width: 31px;
  height: 30px;
  margin-top: 520px;
  margin-left: 65%;
  display: block;
}

.map .copyright {
  color: #fff;
  display: block;
  margin: 0 0 0 40%;
  padding: 10px 0 0;
}

.map p {
  color: #fff;
  line-height: 36px;
  text-align: center;
  padding-top: 150px;
}

.map ul,
.row {
  margin: 0;
  padding: 0;
}

.map ul li,
.map ul li a {
  text-align: center;
  font-size: 16px;
}

.map ul li {
  list-style: none;
}

.map .back,
.map ul li,
.map ul li a {
  font-family: 'Raleway',sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 36px;
}

.map ul li a {
  border-bottom: 1px solid #adadad;
  text-decoration: none;
  padding-bottom: 10px;
}

.map .links {
  color: #fff;
  display: inline-block;
  height: 18px;
  width: 40px;
}

.map .links img {
  margin-top: 40px;
  margin-left: 80px;
}

.map .back {
  padding: 0;
  margin: 60px 0 0;
  font-size: 12px;
}

.row {
  max-width: 1400px!important;
}