body {
  margin: 0 auto;
}

.main-menu {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #efefef;
  display: block;
}

.main-menu .btn {
  float: right;
  vertical-align: top;
  font-size: 30px;
  color: #4d4d4d;
}

.main-menu .btn a .fa {
  color: #4d4d4d;
  font-size: 24px;
  width: 100%;
  height: 100%;
}

.main-wrapper {
  width: 960px;
  height: 400px;
  background: url("../img/Banner-Grad-Gifts-827x460.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 150px auto 0;
  padding-top: 320px;
  text-align: right;
  padding-right: 50px;
}

.main-wrapper a {
  text-decoration: none;
  color: #4d4d4d;
}

.popup {
  height: 300px;
  padding: 30px 10px;
  background-color: #efefef;
  width: 250px;
  position: fixed;
  left: 90%;
  transform: translateX(60%) translateY(0%);
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.popup:target {
  transform: translateX(-80%) translateY(0%);
}

.popup-close {
  position: absolute;
  top: 5%;
  right: 8%;
  font-size: 32px;
}

.popup-close,
.popup-close:active,
.popup-close:hover {
  text-decoration: none;
  color: #4d4d4d;
}

.popup ul {
  margin: 0;
  padding: 5%;
}

.popup ul li {
  list-style-type: none;
}

.button,
.popup ul li a {
  font: 400 24px/46px 'Overpass',sans-serif;
  color: #4d4d4d;
}

.popup ul li a:hover {
  color: #9c5052;
}

.button {
  font: 400 24px/24px 'Overpass',sans-serif;
  padding: 20px 30px;
  border: 3px solid #4d4d4d;
}

.button:hover {
  background-color: #4d4d4d;
  color: #fff;
  transition: all 1s ease;
}

.button,
.button:active,
.button:hover,
.popup ul li a {
  text-decoration: none;
}

.modal {
  height: 550px;
  padding: 30px;
  background-color: #4d4d4d;
  width: 600px;
  position: fixed;
  left: 25%;
  bottom: 100%;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.modal:target {
  bottom: 10%;
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}

.modal .close {
  position: absolute;
  top: 5%;
  right: 8%;
  font-size: 32px;
}

.modal .close,
.modal .close:hover {
  text-decoration: none;
  color: #fff;
}

.modal p {
  font: 400 22px/32px 'Overpass',sans-serif;
  color: #fff;
  padding: 30px;
  text-align: center;
}